* {
    font-family: 'Josefin Sans', sans-serif;
}
.site-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    height: 100%;
}
.header {
    display: flex;
    border: solid;
    height: 70px;
    font-size: 80px;
    padding: 10px;
    padding-top: 14px;
    background-color: #ffce1c;
}
.center{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.right-side-menu {
    width: 0%;
}
.left-side-menu {
    width: 15%;
    border-right: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-top: 15px;
    gap: 15px;
    background-color: #c4c4c4;
}
#Home  {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width: 180px;
}
.content { 
    display: flex;
    width: 85%;
    flex-direction: column;
    height: 600px;
    gap: 5px;
    padding: 15px;
}
.noteTitle{
    font-size: 32px;
}
.projectNoteContent { 
    height: 600px;
    position: absolute;
    width: 85%;
    font-size: 32px;
    pointer-events: none;
}
.side-bar-content { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.projectButton {
    display: flex;
    justify-content: center;
    width: 180px;
    height: auto;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.projectSpace { 
    opacity: 0;
}
.add-Button {
    position: absolute;
    border: solid;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(57, 104, 61);
    border-color: rgb(57, 104, 61);
    margin-top: 490px;
    margin-left: 660px;
}
.footer {
    display: flex;
    border: solid;
    height: 35px;
    width: 100%;
    margin-top: -10px; 
}
.popUpBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    pointer-events:none;
}
.popUpBox.show {
    opacity: 1;
    pointer-events: auto;
}
.popUp {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: solid rgb(151, 140, 140);
    padding: 5px;
    background-color: #feff9c;
}
.textInput {
    display: flex;
    flex-direction: column;
    background-color: #feff9c;
}
.popUpTitle {
    height: 50px;
    width: 505px;
    font-size: 30px;
    background-color: #feff9c;
}
.noteContainer {
    display: flex;
    flex-direction: row;
}
.note {
    justify-content: center;
    align-items: center;
    border: solid #d5d5d4; 
    background-color: #feff9c;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}
.divTitle {
    height: 140px;
}
.divDetails {
    height: 300px;
}
#toDoNotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    pointer-events: auto;
}
