* {
    background-color: #92A8D1;
}
.site-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}
.header {
    display: flex;
    border: solid black;
    height: 35px;
    width: 100%;
    margin-top: -10px;
}
.center{
    display: flex;
    flex-direction: row;
    border: solid black;
    width: 100%;
    height: 600px;
}
.right-side-menu {
    border: solid black;
    width: 0%;
    height: 600px;
}
.left-side-menu {
    border: solid black;
    width: 25%;
}
.content { 
    border: solid black;
    display: flex;
    width: 75%;
    flex-direction: column;
    height: 600px;
    gap: 5px;
}
#add-Button {
    position: absolute;
    border: solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(57, 104, 61);
    border-color: rgb(57, 104, 61);
    margin-top: 490px;
    margin-left: 660px;
}
.footer {
    display: flex;
    border: solid black;
    height: 35px;
    width: 100%;
    margin-top: -10px; 
}
.popUpBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;

}
.popUpBox.show {
    opacity: 1;
    pointer-events: auto;
}
.popUp {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: solid black;
    padding: 5px;
    background-color: #feff9c;
}
.popUpTitle {
    height: 50px;
    width: 505px;
    font-size: 30px;
    background-color: #feff9c;

}

/* .note { // this is for when the note is saved 
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: solid;
    background-color: #feff9c;
    width: 200px;
    height: 200px;
} */
#toDoNotes { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}